$colors: (
  color1: blue,
  color2: black,
  color3: red,
);

@each $key, $color in $colors {
  .#{$color}-bg {
    background-color: $color;
  }
}

div {
  height: 200px;
  width: 200px;
}

@for $j from 1 through 6 {
  .text-#{$j} {
    font-size: 15px * $j;
  }
}

@mixin border-stroke($val) {
  @if $val == light {
    border: 1px solid black;
  } @else if $val == medium {
    border: 3px solid black;
  } @else if $val == heavy {
    border: 6px solid black;
  } @else {
    border: none;
  }
}

#box {
  width: 150px;
  height: 150px;
  background-color: red;
  @include border-stroke(medium);
}
@mixin shape($w, $h, $bg-color) {
  width: $w;
  height: $h;
  background-color: $bg-color;
  #square {
    @include shape(50px, 50px, red);
  }
  #rect-a {
    @include shape(100px, 50px, blue);
  }
  #rect-b {
    @include shape(50px, 100px, orange);
  }
}

#square {
  width: 50px;
  height: 50px;
  background-color: red;
}

#rect-a {
  width: 100px;
  height: 50px;
  background-color: blue;
}

#rect-b {
  width: 50px;
  height: 100px;
  background-color: orange;
}
.blog-post {
  h1 {
    text-align: center;
    color: blue;
  }
  p {
    font-size: 20px;
  }
}

$text-color: red;

.header1 {
  text-align: center;
}

.blog-post1,
.blog-post1 > h2 {
  color: $text-color;
}
