.blog-post {
  h1 {
    text-align: center;
    color: blue;
  }
  p {
    font-size: 20px;
  }
}

$text-color: red;

.header1 {
  text-align: center;
}

.blog-post1,
.blog-post1 > h2 {
  color: $text-color;
}
