.text--1 {
  font-size: 15px;
}

.text--2 {
  font-size: 30px;
}

.text--3 {
  font-size: 45px;
}

.text--4 {
  font-size: 60px;
}

.text--5 {
  font-size: 75px;
}

.blue-bg {
  background-color: blue;
}

.black-bg {
  background-color: black;
}

.red-bg {
  background-color: red;
}

div {
  height: 200px;
  width: 200px;
}

.text-1 {
  font-size: 15px;
}

.text-2 {
  font-size: 30px;
}

.text-3 {
  font-size: 45px;
}

.text-4 {
  font-size: 60px;
}

.text-5 {
  font-size: 75px;
}

.text-6 {
  font-size: 90px;
}

#box {
  width: 150px;
  height: 150px;
  background-color: red;
  border: 3px solid black;
}

#square {
  width: 50px;
  height: 50px;
  background-color: red;
}

#rect-a {
  width: 100px;
  height: 50px;
  background-color: blue;
}

#rect-b {
  width: 50px;
  height: 100px;
  background-color: orange;
}

.blog-post h1 {
  text-align: center;
  color: blue;
}
.blog-post p {
  font-size: 20px;
}

.header1 {
  text-align: center;
}

.blog-post1,
.blog-post1 > h2 {
  color: red;
}